* {
  box-sizing: border-box;
}

body {
  font-family: "Courier Prime", monospace;
  font-size: 1em;
  background-color: #263238;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

span {
  color: #2d9cdb;
}

header {
  padding: 10px 10px 0 10px;
  margin: 0 0 20px 0;
}

.form-container {
  background: #212121;
  width: 80%;
  border: solid 1px;
  border-radius: 25px;
  border-color: #7057;
  margin: auto;
  padding: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#description {
  padding: 5px;
  margin: 20px 10px 20px 10px;
  font-size: 15px;
}

.form-container button {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  background-color: #212121;
  color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  border: solid #fff 2px;
  outline: none;
  margin: 1rem 2.5rem;
}

#survey-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.content-wrap .allradio,
.content-wrap .allcheckbox {
  display: flex;
  flex-direction: column;
}

.content-wrap .allradio .option,
.content-wrap .allcheckbox .option {
  display: inline-block;
  margin: 0 10px 0;
  align-self: flex-start;
}

.content-wrap {
  padding: 10px 0 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.content-wrap p {
  margin: 0;
}

.content-wrap > label,
.content-wrap > p {
  justify-self: left;
}

.content-wrap > input,
.content-wrap select {
  width: 90%;
  padding: 8px;
  border: solid 1px black;
  border-radius: 3px;
}

.content-wrap textarea {
  height: 60px;
  width: 95%;
  border: solid 1px black;
  justify-self: flex-start;
}

footer {
  padding: 10px;
  margin-top: 15px;
}

#submit {
  justify-self: center;
  grid-column: 1/-1;
}

@media (min-width: 650px) {
  .form-container {
    width: 60%;
  }
  #survey-form {
    grid-template-columns: 1fr 1fr;
  }
  .text {
    grid-column: 1/-1;
  }
}