body {
	text-align: center;
	background: rgb(255,255,255);
background: linear-gradient(320deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 49%, rgba(177,177,177,1) 100%);
	margin: 0;
	font-family: sans-serif;
	color: #252515;
}
#img-div {
	padding: 15px;
	margin: 0;
}
img {
	width: 20em;
	max-width: 40%;
	display: block;
	height: auto;
	margin: auto;
}

ul {
	max-width: 565px;
	margin: 0 auto 20px auto;
	text-align: justify;
	line-height: 1.5;
}

li {
	margin: 16px auto;
}

#tribinfo-head {
	margin: 48px 0;
}
#img-caption {
	margin: 15px 0 5px 0;
}
@media (min-width: 500px) {
	#img-caption {
		font-size: 20px;
	}
}

#img-div {
	padding: 10px;
	margin: 0;
}